<header>
  <h1 id="pageTitle">
    <span>P</span>INKVILLA
    <span>P</span>ROJECT
  </h1>
</header>


<section id="created-by">
  <div>
    Created by <a href="https://www.linkedin.com/in/edismr/">Edis Mercado</a>
  </div>
</section>


<div class="grid-container" *ngIf="data">

  <div class="grid-item" *ngFor="let item of data()">
    <div class="grid-item-title">
      {{item.node.title}}
    </div>
    <div class="grid-item-image">
      <img [src]="returnImageDir(item.node.field_photo_image_section)" alt="">
    </div>
  </div>
</div>

<div class="loadingMore-text blink_me">
  <span #loading>Loading more...</span>
</div>
